<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>4</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>01D27347-218A-4560-B256-AED1F71C0309</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5E6AD7A-D5E4-479F-B5FC-616DB681F9DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76FE2D16-BD50-49FC-816B-1F5E931119C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B80B22A1-7785-4E78-B7F8-64C848E523DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B80B22A1-7785-4E78-B7F8-64C848E523DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC0D2D7F-69F1-458B-BBBC-F1E879F5613B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F5E6AD7A-D5E4-479F-B5FC-616DB681F9DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EC0D2D7F-69F1-458B-BBBC-F1E879F5613B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>bvlion</string>
	<key>description</key>
	<string>全角と半角を相互に変換します</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>全角半角変換</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zen</string>
				<key>subtext</key>
				<string>全角にしたい半角を含む全文</string>
				<key>text</key>
				<string>「zen」とスペース</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>76FE2D16-BD50-49FC-816B-1F5E931119C2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n `ruby han2zen.rb $1`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B80B22A1-7785-4E78-B7F8-64C848E523DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EC0D2D7F-69F1-458B-BBBC-F1E879F5613B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>han</string>
				<key>subtext</key>
				<string>半角にしたい全角を含む全文</string>
				<key>text</key>
				<string>「han」とスペース</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01D27347-218A-4560-B256-AED1F71C0309</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n `ruby zen2han.rb $1`</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F5E6AD7A-D5E4-479F-B5FC-616DB681F9DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/bvlion/zen-han-alfred-workflow</string>
	<key>uidata</key>
	<dict>
		<key>01D27347-218A-4560-B256-AED1F71C0309</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>76FE2D16-BD50-49FC-816B-1F5E931119C2</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>B80B22A1-7785-4E78-B7F8-64C848E523DB</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>EC0D2D7F-69F1-458B-BBBC-F1E879F5613B</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>F5E6AD7A-D5E4-479F-B5FC-616DB681F9DB</key>
		<dict>
			<key>xpos</key>
			<real>250</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string>www.ambitious-i.net</string>
</dict>
</plist>
